# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Google Maps API Key
GOOGLE_MAPS_PLATFORM_KEY="MY_GOOGLE_MAPS_KEY"

# Fonnte WA Gateway API Key
FONNTE_API_KEY="MY_FONNTE_KEY"

# Gmail SMTP Configuration for Email Notifications
SMTP_EMAIL="your-email@gmail.com"
SMTP_PASSWORD="your-app-password"

# BSrE TTE Configuration
BSRE_CLIENT_ID="MY_BSRE_CLIENT_ID"
BSRE_CLIENT_SECRET="MY_BSRE_CLIENT_SECRET"
